<template name="config">
  <button data-target="config" class="hide-on-small-and-down btn btn-flat btn-large btn-floating modal-trigger blue-grey configMap"><i class="material-icons large">settings</i></button>
  <button data-target="config" class="hide-on-med-and-up btn btn-flat btn-floating modal-trigger blue-grey configMap"><i class="material-icons large">settings</i></button>
  <div id="config" class="modal bottom-sheet configModal ">
    <div class="modal-content">
      <h5>Configurações</h5>
      <form>
        <p>
          <input type="checkbox" id="stop" name="stop" /><label for="stop">Operações STOP</label>
        </p>
        <p>
          <input type="checkbox" id="radares" name="radares" /><label for="radares">Radares</label>
        </p>
        <p>
          <input type="checkbox" id="acidentes" name="acidentes" /><label for="acidentes">Acidentes</label>
        </p>
        <p>
          <input type="checkbox" id="obras" name="obras" /><label for="obras">Obras</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <a href="" id="saveConfig" class="modal-action modal-close waves-effect waves-green btn-flat">Guardar</a>
    </div>
  </div>
</template>