<template name="config">
  <a class="modal-trigger optionsWeb" href="#config"><i class="material-icons">settings</i></a>
  <div id="config" class="modal">
    <div class="modal-content">
      <h4>Configurações</h4>
      <p>A bunch of text</p>
      <p>A bunch of text</p>
      <p>A bunch of text</p>
      <p>A bunch of text</p>
      <p>A bunch of text</p>
      <div class="container align-center">
        <form>
        <p>
          <input type="checkbox" id="stop" />
          <label for="stop">Operações STOP</label>
        </p>
        <p>
          <input type="checkbox" id="radares" />
          <label for="radares">Radares</label>
        </p>
        <p>
          <input type="checkbox" id="acidentes" />
          <label for="acidentes">Acidentes</label>
        </p>
      </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Guardar</a>
    </div>
  </div>
</template>