@import 'sass/app-variables';
@import "sass//poetic_materialize-scss/bower_components/materialize/sass/materialize";

.progress {
  margin: 0;
}

.map-container {
  width: 100%;
  height: 100%;
  position: fixed;
}

.configMap {
  color: #263238 !important;
  position: absolute;
  bottom: 4%;
  right: 4%;
  z-index: 1001;
}
.configMap i {
  font-size: 3.25em;
}

.modal.bottom-sheet.configModal {
  width: 45%;
  height: auto;
  max-height: 100%;
  right: 0 !important;
  left: auto !important;
}
#markerModal {
  top: 30% !important;
  max-width: 20%;
}
#addMarker {
  float: none;
}

@media #{$medium-and-down} {  
  .modal.bottom-sheet.configModal {
    width: 60%;
    height: auto;
    max-height: 50%;
  }
  #markerModal {
    max-width: 35%;
  }
}
@media #{$small-and-down} {
  .configMap {
    bottom: 2%;
    right: 2%;
  }
  .configMap i {
    font-size: 2.25em;
  }
  
  .modal.bottom-sheet.configModal  {
    width: 100%;
    height: auto;
    max-height: 70%;
  }

  #markerModal {
    max-width: 60%;
  }
}