// You can override colors BEFORE materialize.scss:
// $primary-color: blue;

// You can NOT use materialize color mixins since they are not imported yet.
// WRONG! $primary-color: color("materialize-red", "lighten-2");

@import 'sass/app-variables';
@import "sass//poetic_materialize-scss/bower_components/materialize/sass/materialize";

#sidenav-overlay {
  top: 64px;
}
.side-nav {
  top: 64px;
}
.side-nav a {
  text-align: center;
}

.loadCenas {
  margin: 0;
}

.map-container {
  width: 100%;
  height: 100%;
  position: fixed;
}

.optionsWeb {
  color: #263238 !important;
  position: absolute;
  bottom: 10%;
  right: 2%;
  z-index: 1001;
}
.optionsWeb i {
  font-size: 3.5em;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
footer.page-footer {
  padding: 0;
}